* {
    font-family: 'Curtive Mono', monospace;
    background-color: #363636;
}

@keyframes bouncing {
    20%,30% {
      transform: translateY(10);
    }
    10% {
      transform: translateY(-40px);
    }
}

@keyframes bouncing-smaller {
    0%,20% {
        transform: translateY(3);
    }
    22%,23% {
        transform: translateY(-15px);
    }
}

@keyframes fadein {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1); 
    }
}

@keyframes playerhand {
    0% {
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

#date-display-header, #difficulty-heading, #difficulty-explanation, #owner-header, #customer-header, #choose-difficulty-header, #musician-header, #spirit-header, #ingredient-header, #decor-header, #menu-card-header, #opening-day, #point-display, #customer-decisions, #yes-header, #no-header {
    color: #ffc0cb;
} 

#musician-header, #spirit-header, #ingredient-header, #decor-header, #menu-card-header {
    background-color: #595959;
    box-shadow: 4px 6px 6px #595959;
    padding: 2px;
    border-radius: 30%;
    text-align: center;
}

#spirit-header {
  animation: bouncing-smaller 20s infinite;
  animation-delay: 2s;
}

#ingredient-header {
  animation: bouncing-smaller 20s infinite;
  animation-delay: 5s;   
}

#musician-header {
  animation: bouncing-smaller 20s infinite;
  animation-delay: 8s;    
}

#decor-header {
  animation: bouncing-smaller 20s infinite;
  animation-delay: 12s;   
}

#menu-card-header { 
  animation: bouncing-smaller 20s infinite;
  animation-delay: 15s;
}

#top-display {
    display: grid;
    grid-template-columns: 10% 35% 45% 10%;
    grid-template-areas:
    "left midleft midright right";
    height: 190px;
}

#owner-div {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructive-elements {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#basic-rules {
    margin-top: 35px;
    margin-bottom: 20px;
}

#basic-rules-button {
    font-size: 15px;
}

#menu-button {
    margin-bottom: 20px;
    font-size: 12px;
    padding-bottom: 37px;
}

#full-rules {
    margin-bottom: 20px;
    font-size: 15px;
}

#customer-display {
    display: flex;
    grid-area: midright;
    justify-content: center;
}

#customer-header {
    text-align: center;
}

#game-title {
    grid-area: midleft;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    background-color: #969288;
    padding: 50px;
    border-radius: 20%;
    color: #FFC0CB;
    animation: bouncing 20s infinite;
    animation-delay: 5s;
    box-shadow: 0px 10px 10px 10px #969288;
}

#title-div {
    height: 200px;
}

#cards-in-play {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "upperleft upperright upperright"
    "midleft mid ."
    "bottom bottom bottom";
}

#left-side {
    grid-area: upperleft;
    margin-top: 20px;
    border: double #4D5D53 10px;
    background-color: #595959;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

#draw-options {
    grid-area: midleft;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-cards {
    grid-area: upperright;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 50px;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: double #4D5D53 10px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: #b8c4ba;
    box-shadow: 0px -40px 40px 20px #4d5d53;
}

#june {
    border: double #4d5d53 10px;
}

#first-card, #second-card, #third-card, #discard {
    background-color: #b8c4ba;
}

#decision-day {
    grid-area: mid;
    margin-top: -150px;
    z-index: -3;
    width: 1100px;
    margin-left: 80px;
}

#decision-day .customer {
    animation: fadein .75s ease-in-out;
}

#customer-decisions {
    font-size: .2em;
    text-align: left;
    border-bottom: double #4d5d53 6px;
}

#yes-header {
    font-size: .2em;
    text-align: left;
    margin-left: 20px;
    border-bottom: double #4d5d53 3px;
}

#no-header {
    font-size: .2em;
    text-align: left;
    margin-left: 20px;
    border-bottom: double #4d5d53 3px;
}

#card-handle {
    grid-area: bottom;
}

#player-hand {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    border-top: groove #b8c4ba 18px;
    border-radius: 12%;
    padding-top: 5px;
}

#choose-difficulty {
    grid-area: mid;
    text-align: center;
    margin-top: -225px;
    z-index: 1;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border: double #4D5D53 10px;
}

#choose-difficulty-header {
    font-size: 3em;
    margin-bottom: 20px;
}

#difficulty-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#easy {
    font-size: 1.45em;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

#medium {
    font-size: 1.35em;
    margin-bottom: 20px;
    padding-bottom: 35px;
}

#difficult {
    font-size: 1.25em;
    margin-bottom: 20px;
    padding-bottom: 35px;
}

#very-difficult {
    font-size: .8em;
    padding-bottom: 28.5px;
}

#new-cards .spirit, #new-cards .ingredient, #new-cards .decor, #new-cards .musician, #new-cards .owner, #new-cards .customer, #new-cards .ability {
    padding: 0 0 0 0;
    width: 150px;
    height: 255px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    animation: fadein ease-in-out .4s;
}

.owner:hover, .customer:hover {
    padding: 0 0 0 0;
    width: 100px;
    height: 170px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    overflow-wrap: break-word;
    z-index: 10;
}

.customer:hover {
   border: solid #c6c7ae 5px;
   box-shadow: 6px 3px 3px #c6c7ae;
}

.customer {
   border: solid #c6c7ae 2px;
   box-shadow: 4px 2px 2px #c6c7ae;
}

.owner:hover {
    border: solid #d94343 5px;
    box-shadow: 6px 3px 3px #d94343;
 }
 
 .owner {
    border: solid #d94343 2px;
    box-shadow: 4px 2px 2px #d94343;
 }

.owner:hover .card-header, .customer:hover .card-header {
    font-size: 18px;
    margin: 0;
}

.owner:hover .card-img, .customer:hover .card-img {
    width: 100px;
    height: 100px;
}

.owner:hover .card-description, .customer:hover .card-description{
    font-size: 9px;
}

.spirit, .ingredient, .decor, .musician, .completed, .owner, .customer, .ability {
    border-radius: 3%;
    padding: 0 0 0 0;
    width: 50px;
    height: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    overflow-wrap: break-word;  
    animation: playerhand .75s ease-in-out;  
}

.owner {
    animation: playerhand 1.5s ease-in-out; 
    animation-delay: 1s
}

.customer {
    animation: playerhand 1.5s ease-in-out; 
    animation-delay: 1s;
}

#new-cards .spirit {
    border: solid #92abc2 5px;
    box-shadow: 6px 4px 4px #92abc2;
}

#player-hand .spirit {
    border: solid #92abc2 2px;
    box-shadow: 3px 2px 2px #92abc2;
}

#new-cards .ingredient {
    border: solid #a3c0a3 5px;
    box-shadow: 6px 4px 4px #a3c0a3;
}

#player-hand .ingredient {
    border: solid #a3c0a3 2px;
    box-shadow: 3px 2px 2px #a3c0a3;
}

#new-cards .decor {
    border: solid #b77c96 5px;
    box-shadow: 3px 2px 2px #b77c96;
}

#player-hand .decor {
    border: solid #b77c96 2px;
    box-shadow: 3px 2px 2px #b77c96;
}

#new-cards .musician {
    border: solid #a06a9a 5px;
    box-shadow: 3px 2px 2px #a06a9a;
}

#player-hand .musician {
    border: solid #a06a9a 2px;
    box-shadow: 3px 2px 2px #a06a9a;
}

#new-cards .ability {
    border: solid #ee7430 5px;
    box-shadow: 3px 2px 2px #ee7430;
}

#player-hand .ability {
    border: solid #ee7430 2px;
    box-shadow: 3px 2px 2px #ee7430;
}

#new-cards .card-header {
    margin: 0;
    font-size: 24px;
}

#new-cards .card-img {
    width: 150px;
    height: 150px;
}

#new-cards .card-description {
   font-size: 17px;
}

#new-cards .ability .card-description {
    font-size: 12px;
}

#new-cards .decor .card-header {
    font-size: 22px;
}

.card-header {
    margin: 0;
    font-size: 9px;
}

.card-img {
    width: 50px;
    height: 50px;
}

.card-description {
    font-size: 4.5px;
}

.card-buttons {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.card-buttons:disabled:hover {
    cursor: auto;
}

.card-buttons:disabled {
    display: none;
}

#draw-discard:disabled {
    padding: 0 0 0 0;
    width: 150px;
    height: 255px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    overflow-wrap: break-word;   
}

#difficulty-explanation {
    font-size: .1em;
    text-align: center;
    margin-top: -12px;
}

#difficulty-display {
    text-align: center;
    font-size: 1.5em;
    background-color: #595959;
}

#difficulty-heading, #difficulty-explanation {
    background-color: #595959;
}

#date-display {
    text-align: center;
    margin-top: -17px;
    font-size: 1.5em;
}

#date-display-header {
    background-color: #595959;
}

#draw-options {
    margin-top: 120px;
}

#draw-new {
    font-size: 10px;
}

#owner-header, #customer-header {
    font-size: .7em;
}

#discard-header {
    text-align: center;
    background-color: #b8c4ba;
    margin-top: -10px;
}

.buttons {
    background-color: #c7c8be;
    border: solid #e7b10a 1px;
    border-radius: 20%;
    padding: 10px 10px;
    width: 135px;
    height: 40px;
    box-shadow: 4px 5px 5px #b6c7ad;
}

#end-game {
    font-size: .75em;
    padding-bottom: 34px;
}

#confirmation-button {
    padding-bottom: 39px;
}

.buttons:hover {
    cursor: pointer;
    background-color: #d9d9cf;
}

.buttons:hover:disabled {
    cursor: auto;
    background-color: #c7c8be
}

#player-spirits, #player-ingredients, #player-decor, #player-musicians, #player-final {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
}

#spirit-hand, #ingredient-hand, #musician-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 350px;
}

#decor-hand, #menu-card-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 750px;
}

#player-hand #spirit-hand .spirit:nth-child(n+7), #player-hand #ingredient-hand .ingredient:nth-child(n+7), #player-hand #musician-hand .musician:nth-child(n+7) {
    margin-top: -30px;
    z-index: 1;
}

#player-hand #spirit-hand .spirit:nth-child(n+14), #player-hand #ingredient-hand .ingredient:nth-child(n+14), #player-hand #musician-hand .musician:nth-child(n+14) {
    margin-top: -30px;
    z-index: 2;
}

#player-hand #spirit-hand .spirit:nth-child(n+21), #player-hand #ingredient-hand .ingredient:nth-child(n+21), #player-hand #musician-hand .musician:nth-child(n+21) {
    margin-top: -30px;
    z-index: 3;
}

#new-cards .musician .card-header {
    font-size: 22px;
}

#new-cards .spirit .card-description {
    font-size: 14px;
}

#new-cards .ingredient .card-description {
    font-size: 14px;
}

#player-hand .decor .card-header {
    font-size: 7.5px;
}

#player-hand .decor .card-description {
    font-size: 8px;
    margin-top: 0;
}

#customers-for, #customers-against {
    display: flex;
    justify-content: space-evenly;
}

#point-display, #wrap-up-button {
    text-align: center;
}

#opening-day {
    text-align: left;
    margin-left: 50px;
}

#wrap-up-button  {
    margin-top: 10px;
}

#completed-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#june {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#june .card-buttons:disabled {
    padding: 0;
    border: none;
    background: #595959;
    cursor: not-allowed;
    width: 75px;
    height: 122.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;
    filter: blur(1px);
}

#june .card-buttons:disabled .card-header {
    background: #595959;
    color: white;
    filter: blur(1px);
}

#june .card-buttons:disabled .card-img {
    background: #595959;
    filter: blur(1px);
}

#june .card-buttons:disabled .card-description {
    background: #595959;
    color: white;
    filter: blur(1px);
}

#june .completed {
    border: solid #bea32a 3px;
    padding: 0 0 0 0;
    width: 75px;
    height: 122.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    align-items: center;   
    box-shadow: 4px 2px 2px #bea32a;
    animation: fadein .5s ease-in-out;
}

#player-hand .completed {
    border: solid #bea32a 2px;
    box-shadow: 4px 2px 2px #bea32a;
}

#june .completed .card-header {
  font-size: 6.5px;
}

#june .completed .card-img {
   width: 75px;
   height: 75px;
   border-bottom: double #0e390e 6px;
   border-bottom-right-radius: 7%;
   border-bottom-left-radius: 7%;
}

#june .completed .card-description {
    font-size: 6px;
    margin-top: 0;
}

#player-hand .completed .card-header {
    font-size: 5px;
}

#player-hand .completed .card-img {
    width: 50px;
    height: 50px;
    border-bottom: double #0e390e 4px;
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
}

#customer-decisions {
    margin-top: -55px;
    font-size: 40px;
    margin-left: 20px;
}

#yes-header, #no-header {
    font-size: 20px;
}

#point-display-header {
    margin-top: -50px;
}

#victory-heading, #defeat-heading {
    text-align: center;
    grid-area: upperright;
    font-family: 'Raleway', sans-serif;
    color: #FFC0CB;
    padding-left: -600px;
    margin-top: -120px;
    margin-right: 100px;
    padding-top: 20px;
    font-size: 80px;
    animation: bouncing 20s infinite;
    animation-delay: 3s;
}

#player-hand .ingredient .card-header {
    font-size: 8px;
}

.spirit {
    background-color: #a1ccd1;
}

.spirit .card-header {
    background-color:  #a1ccd1;
}

.spirit .card-description {
    background-color: #baedea;
    border-radius: 15%;
}

.ingredient, .ingredient .card-header {
    background-color: #c1d0b5;
}

.ingredient .card-description {
    background-color: #dbebc3;
    border-radius: 15%;
}

.decor, .decor .card-header{
    background-color: #c88ea7;
}

.decor .card-description {
    background-color: #daafc9;
    border-radius: 15%;
}

.musician, .musician .card-description {
    background-color: #b08bbb;
}

.musician .card-header {
    font-size: 7.5px;
    background-color: #b08bbb;
}

.ability, .ability .card-header {
    background-color: #ff8551;
}

.ability .card-description {
    border-radius: 15%;
    background-color: #ffa673;
}

.owner, .owner .card-header{
    background-color: #ea5455;
}

.owner .card-description {
    border-radius: 15%;
    background-color: #fb7667;
}

.customer, .customer .card-header{
    background-color: #d8d9cf;
}

.customer .card-description {
    border-radius: 15%;
    background-color: #eaeadf;
}

.completed, .completed .card-header {
    background-color: #cfb53b;
}

.completed .card-description {
    border-radius: 15%;
    background-color: #dfd75c;
}

#customer-one-decision, #customer-two-decision, #customer-three-decision, #customer-four-decision, #customer-five-decision, #customer-six-decision, #customer-seven-decision, #customer-eight-decision, #customer-nine-decision, #customer-ten-decision, #customer-eleven-decision {
    padding-bottom: 42px;
    font-size: .45em;
    margin-bottom: 5px;
    margin-top: 5px;
}

#basic-rules-styling {
    color: #f7e7ce;
    margin-top: 120px;
    margin-bottom: 120px;
}

#basic-rules-header {
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

#basic-rules-list {
    padding-bottom: 10px;
}

#basic-rules-sub-header {
    text-align: center;
    font-size: 1.5em;
}

.basic-rules-list-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu-styling {
    color: #f7e7ce;
    padding: 10px;
    padding-bottom: 20px;
}

#menu-header {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

#cocktail-list {
    list-style-type: none;
}

#musical-list, #decorative-list{
    text-align: right;
    list-style-type: none;
    padding-right: 10px;
}

.menu-sub-header {
    text-align: center;
    margin-bottom: 10px;
}

#cocktail-header {
    margin-right: 700px;
}

#musical-header {
    margin-top: -550px;
}

#decorative-header {
    margin-top: 60px;
}

#musical-header, #decorative-header {
    margin-left: 700px;
}

.cocktail-list-item, .menu-list-item {
    padding-top: 15px;
}

#basic-rules-footer {
    text-align: right;
    padding-right: 10px;
    font-size: .3em;
}

#menu-footer {
    font-size: .3em;
    text-align: right;
    margin-bottom: -15px;
}

@media (max-width: 1250px) {
    @keyframes bouncing {
        20%,30% {
          transform: translateY(8.325);
        }
        10% {
          transform: translateY(-33px);
        }
    }
    
    @keyframes bouncing-smaller {
        0%,20% {
            transform: translateY(2.5);
        }
        22%,23% {
            transform: translateY(-12.5px);
        }
    }
    
    @keyframes playerhand {
        0% {
            transform: translateY(-16.5px);
        }
        80% {
            transform: translateY(6.25px);
        }
        100% {
            transform: translateY(0);
        }
    } 

    #musician-header, #spirit-header, #ingredient-header, #decor-header, #menu-card-header {
        box-shadow: 3.3px 5px 5px #595959;
        padding: 1.66px;
    }
    
    #top-display {
        height: 157px;
    }

    #basic-rules {
        margin-top: 28.9px;
        margin-bottom: 16.5px;
    }
    
    #basic-rules-button {
        font-size: 12.5px;
    }
    
    #menu-button {
        margin-bottom: 16.5px;
        font-size: 10px;
        padding-bottom: 30.7px;
    }
    
    #full-rules {
        margin-bottom: 16.5px;
        font-size: 12.5px;
    }

    #game-title {
        margin-top: 16.5px;
        margin-bottom: 41.25px;
        font-size: 1.875em;
        padding: 25px;
        box-shadow: 0px 8.25px 8.25px 8.25px #969288;
    }
    
    #title-div {
        height: 165px;
    }
    
    #cards-in-play {
        grid-template-rows: 165px 165px 165px;
    }

    #left-side {
        margin-top: 16.5px;
        border: double #4D5D53 8.25px;
    }

    #new-cards {
        margin-top: 33px;
        margin-left: 41.25px;
        padding-top: 20.625px;
        padding-left: 8.25px;
        padding-right: 8.25px;
        border: double #4D5D53 8.25px;
        box-shadow: 0px -33px 33px 16.5px #4d5d53;
    }
    
    #june {
        border: double #4d5d53 8.25px;
    }

    #decision-day {
        margin-top: -125px;
        width: 907px;
        margin-left: 66.25px;
    }
    
    #customer-decisions {
        font-size: .17em;
        border-bottom: double #4d5d53 5px;
    }
    
    #yes-header {
        font-size: .17em;
        margin-left: 16.5px;
        border-bottom: double #4d5d53 2.5px;
    }
    
    #no-header {
        font-size: .17em;
        text-align: left;
        margin-left: 16.5px;
        border-bottom: double #4d5d53 2.5px;
    }

    #player-hand {
        border-top: groove #b8c4ba 15px;
        padding-top: 4.125px;
    }
    
    #choose-difficulty {
        margin-top: -185.625px;
        border: double #4D5D53 8.25px;
    }
    
    #choose-difficulty-header {
        font-size: 2.5em;
        margin-bottom: 16.5px;
    }

    #easy {
        font-size: 1.2em;
        margin-bottom: 16.5px;
        padding-bottom: 33px;
    }
    
    #medium {
        font-size: 1.2em;
        margin-bottom: 16.5px;
        padding-bottom: 29px;
    }
    
    #difficult {
        font-size: 1.03em;
        margin-bottom: 16.5px;
        padding-bottom: 29px;
    }
    
    #very-difficult {
        font-size: .66em;
        padding-bottom: 23.5px;
    }

    #new-cards .spirit, #new-cards .ingredient, #new-cards .decor, #new-cards .musician, #new-cards .owner, #new-cards .customer, #new-cards .ability {
        width: 125px;
        height: 210px;
    }
    
    .owner:hover, .customer:hover {
        width: 83.25px;
        height: 140.25px;
    }

    .customer:hover {
        border: solid #c6c7ae 4.125px;
        box-shadow: 5px 2.5px 2.5px #c6c7ae;
     }
     
     .customer {
        border: solid #c6c7ae 1.65px;
        box-shadow: 3.3px 1.65px 1.65px #c6c7ae;
     }
     
     .owner:hover {
         border: solid #d94343 4.125px;
         box-shadow: 5px 2.5px 2.5px #d94343;
      }
      
      .owner {
         border: solid #d94343 1.65px;
         box-shadow: 3.3px 1.65px 1.65px #d94343;
      }
     
     .owner:hover .card-header, .customer:hover .card-header {
         font-size: 15px;
     }
     
     .owner:hover .card-img, .customer:hover .card-img {
         width: 83.25px;
         height: 83.25px;
     }
     
     .owner:hover .card-description, .customer:hover .card-description{
         font-size: 7.5px;
     }

     .spirit, .ingredient, .decor, .musician, .completed, .owner, .customer, .ability {
        width: 41.25px;
        height: 70.125px; 
    }

    #new-cards .spirit {
        border: solid #92abc2 4.125px;
        box-shadow: 5px 3.3px 3.3px #92abc2;
    }
    
    #player-hand .spirit {
        border: solid #92abc2 1.65px;
        box-shadow: 2.5px 1.65px 1.65px #92abc2;
    }
    
    #new-cards .ingredient {
        border: solid #a3c0a3 4.125px;
        box-shadow: 5px 3.3px 3.3px #a3c0a3;
    }
    
    #player-hand .ingredient {
        border: solid #a3c0a3 1.65px;
        box-shadow: 2.5px 1.65px 1.65px #a3c0a3;
    }
    
    #new-cards .decor {
        border: solid #b77c96 4.125px;
        box-shadow: 2.5px 1.65px 1.65px #b77c96;
    }
    
    #player-hand .decor {
        border: solid #b77c96 1.65px;
        box-shadow: 2.5px 1.65px 1.65px #b77c96;
    }
    
    #new-cards .musician {
        border: solid #a06a9a 4.125px;
        box-shadow: 2.5px 1.65px 1.65px #a06a9a;
    }
    
    #player-hand .musician {
        border: solid #a06a9a 1.65px;
        box-shadow: 2.5px 1.65px 1.65px #a06a9a;
    }
    
    #new-cards .ability {
        border: solid #ee7430 4.125px;
        box-shadow: 2.5px 1.65px 1.65px #ee7430;
    }
    
    #player-hand .ability {
        border: solid #ee7430 1.65px;
        box-shadow: 2.5px 1.65px 1.65px #ee7430;
    }
    
    #new-cards .card-header {
        font-size: 20px;
    }
    
    #new-cards .card-img {
        width: 125px;
        height: 125px;
    }
    
    #new-cards .card-description {
       font-size: 14px;
    }
    
    #new-cards .ability .card-description {
        font-size: 10px;
    }
    
    #new-cards .decor .card-header {
        font-size: 18.15px;
    }
    
    .card-header {
        font-size: 7.5px;
    }
    
    .card-img {
        width: 41.2px;
        height: 41.2px;
    }
    
    .card-description {
        font-size: 3.75px;
    }

    #draw-discard:disabled {
        width: 125px;
        height: 211.25px; 
    }
    
    #difficulty-explanation {
        font-size: 7.5px;
        text-align: center;
        margin-top: -10px;
    }
    
    #difficulty-display {
        text-align: center;
        font-size: 1.25em;
        background-color: #595959;
    }

    #date-display {
        margin-top: -15px;
        font-size: 1.25em;
    }
    
    #draw-options {
        margin-top: 62.5px;
    }
    
    #owner-header, #customer-header {
        font-size: .59em;
    }

    .buttons {
        border: solid #e7b10a .83px;
        padding: 8.32px 8.32px;
        width: 112.5px;
        height: 33.1px;
        box-shadow: 3.3px 4.125px 4.125px #b6c7ad;
    }
    
    #end-game {
        font-size: .625em;
        padding-bottom: 28.125px;
    }
    
    #confirmation-button {
        padding-bottom: 32.5px;
        font-size: 12.5px;
    }

    #spirit-hand, #ingredient-hand, #musician-hand {
        max-width: 290px;
    }
    
    #decor-hand, #menu-card-hand {
        max-width: 290px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+7), #player-hand #ingredient-hand .ingredient:nth-child(n+7), #player-hand #musician-hand .musician:nth-child(n+7) {
        margin-top: -25px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+14), #player-hand #ingredient-hand .ingredient:nth-child(n+14), #player-hand #musician-hand .musician:nth-child(n+14) {
        margin-top: -25px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+21), #player-hand #ingredient-hand .ingredient:nth-child(n+21), #player-hand #musician-hand .musician:nth-child(n+21) {
        margin-top: -25px;
    }
    
    #new-cards .musician .card-header {
        font-size: 18.75px;
    }
    
    #new-cards .spirit .card-description {
        font-size: 11.625px;
    }
    
    #new-cards .ingredient .card-description {
        font-size: 11.625px;
    }
    
    #player-hand .decor .card-header {
        font-size: 6.25px;
    }
    
    #player-hand .decor .card-description {
        font-size: 6.625px;
    }

    #opening-day {
        margin-left: 41.25px;
        font-size: 18.75px;
    }

    #point-display {
        font-size: 12.5px;
    }
    
    #wrap-up-button  {
        margin-top: 8.25px;
    }

    #june {
        margin-left: 8.25px;
        margin-right: 8.25px;
    }
    
    #june .card-buttons:disabled {
        width: 62.5px;
        height: 101.25px;
    }

    #june .completed {
        border: solid #bea32a 2.5px;
        width: 62.5px;
        height: 101.25px;
        box-shadow: 3.3px 1.65px 1.65px #bea32a;
    }
    
    #player-hand .completed {
        border: solid #bea32a 1.65px;
        box-shadow: 3.3px 1.65px 1.65px #bea32a;
    }
    
    #june .completed .card-header {
      font-size: 5.4px;
    }
    
    #june .completed .card-img {
       width: 62.5px;
       height: 62.5px;
       border-bottom: double #0e390e 5px;
    }
    
    #june .completed .card-description {
        font-size: 5px;
    }
    
    #player-hand .completed .card-header {
        font-size: 4.125px;
    }
    
    #player-hand .completed .card-img {
        width: 41.25px;
        height: 41.25px;
        border-bottom: double #0e390e 3.3px;
    }
    
    #customer-decisions {
        margin-top: -45.75px;
        font-size: 33px;
        margin-left: 16.5px;
    }
    
    #yes-header, #no-header {
        font-size: 16.5px;
    }
    
    #point-display-header {
        margin-top: -41.25px;
    }
    
    #victory-heading, #defeat-heading {
        padding-left: -500px;
        margin-top: -100px;
        margin-right: 83.25px;
        padding-top: 16.5px;
        font-size: 66.25px;
    }
    
    #player-hand .ingredient .card-header {
        font-size: 6.625px;
    }

    .musician .card-header {
        font-size: 6.25px;
    }

    #customer-one-decision, #customer-two-decision, #customer-three-decision, #customer-four-decision, #customer-five-decision, #customer-six-decision, #customer-seven-decision, #customer-eight-decision, #customer-nine-decision, #customer-ten-decision, #customer-eleven-decision {
        padding-bottom: 35px;
        font-size: .375em;
        margin-bottom: 4.125px;
        margin-top: 4.125px;
    }
    
    #basic-rules-styling {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    #basic-rules-header {
        font-size: 2.5em;
    }
    
    #basic-rules-list {
        padding-bottom: 8.25px;
    }
    
    #basic-rules-sub-header {
        font-size: 1.25em;
    }
    
    .basic-rules-list-item {
        margin-top: 4.125px;
        margin-bottom: 4.125px;
    }
    
    #menu-styling {
        padding: 8.25px;
        padding-bottom: 16.5px;
    }
    
    #menu-header {
        font-size: 1.65em;
        margin-bottom: 25px;
    }

    #musical-list, #decorative-list{
        padding-right: 8.25px;
    }
    
    .menu-sub-header {
        margin-bottom: 8.25px;
    }
    
    #cocktail-header {
        margin-right: 579px;
        margin-top: -15px;
    }
    
    #musical-header {
        margin-top: -470px;
    }
    
    #decorative-header {
        margin-top: 40px;
    }
    
    #musical-header, #decorative-header {
        margin-left: 453.75px;
    }
    
    .cocktail-list-item, .menu-list-item {
        padding-top: 12.5px;
        font-size: 13px;
    }
    
    #basic-rules-footer {
        padding-right: 8.25px;
        font-size: .25em;
    }
    
    #menu-footer {
        font-size: .25em;
        margin-bottom: -12.5px;
    }
}

@media (max-width: 1000px) {
    @keyframes bouncing {
        20%,30% {
          transform: translateY(6.66);
        }
        10% {
          transform: translateY(-26.4px);
        }
    }
    
    @keyframes bouncing-smaller {
        0%,20% {
            transform: translateY(2);
        }
        22%,23% {
            transform: translateY(-10px);
        }
    }
    
    @keyframes playerhand {
        0% {
            transform: translateY(-13.2px);
        }
        80% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0);
        }
    } 

    #musician-header, #spirit-header, #ingredient-header, #decor-header, #menu-card-header {
        box-shadow: 2.65px 4px 4px #595959;
        padding: 1.33px;
    }
    
    #top-display {
        height: 125.4px;
    }

    #basic-rules {
        margin-top: 23.1px;
        margin-bottom: 13.2px;
    }
    
    #basic-rules-button {
        font-size: 10px;
    }
    
    #menu-button {
        margin-bottom: 13.2px;
        font-size: 8px;
        padding-bottom: 24.5px;
    }
    
    #full-rules {
        margin-bottom: 13.2px;
        font-size: 10px;
    }

    #game-title {
        margin-top: 13.2px;
        margin-bottom: 33px;
        font-size: 1.5em;
        padding: 20px;
        border-radius: 20%;
        box-shadow: 0px 6.6px 6.6px 6.6px #969288;
    }
    
    #title-div {
        height: 132px;
    }
    
    #cards-in-play {
        grid-template-rows: 132px 132px 132px;
    }

    #left-side {
        margin-top: 13.2px;
        border: double #4D5D53 6.6px;
    }

    #new-cards {
        margin-top: 26.4px;
        margin-left: 33px;
        padding-top: 16.5px;
        padding-left: 6.6px;
        padding-right: 6.6px;
        border: double #4D5D53 6.6px;
        box-shadow: 0px -26.4px 26.4px 13.2px #4d5d53;
    }
    
    #june {
        border: double #4d5d53 6.6px;
    }

    #decision-day {
        margin-top: -100px;
        width: 725px;
        margin-left: 53px;
    }
    
    #customer-decisions {
        font-size: .13em;
        border-bottom: double #4d5d53 4px;
    }
    
    #yes-header {
        font-size: .13em;
        margin-left: 13.2px;
        border-bottom: double #4d5d53 2px;
    }
    
    #no-header {
        font-size: .13em;
        text-align: left;
        margin-left: 13.2px;
        border-bottom: double #4d5d53 2px;
    }

    #player-hand {
        border-top: groove #b8c4ba 12px;
        padding-top: 3.3px;
    }
    
    #choose-difficulty {
        margin-top: -148.5px;
        border: double #4D5D53 6.6px;
    }
    
    #choose-difficulty-header {
        font-size: 2em;
        margin-bottom: 13.2px;
    }

    #easy {
        font-size: .96em;
        margin-bottom: 13.2px;
        padding-bottom: 26.4px;
    }
    
    #medium {
        font-size: .96em;
        margin-bottom: 13.2px;
        padding-bottom: 23.1px;
    }
    
    #difficult {
        font-size: .825em;
        margin-bottom: 13.2px;
        padding-bottom: 23.1px;
    }
    
    #very-difficult {
        font-size: .528em;
        padding-bottom: 18.81px;
    }

    #new-cards .spirit, #new-cards .ingredient, #new-cards .decor, #new-cards .musician, #new-cards .owner, #new-cards .customer, #new-cards .ability {
        width: 100px;
        height: 168.33px;
    }
    
    .owner:hover, .customer:hover {
        width: 66.6px;
        height: 112.2px;
    }

    .customer:hover {
        border: solid #c6c7ae 3.3px;
        box-shadow: 4px 2px 2px #c6c7ae;
     }
     
     .customer {
        border: solid #c6c7ae 1.32px;
        box-shadow: 2.64px 1.32px 1.32px #c6c7ae;
     }
     
     .owner:hover {
         border: solid #d94343 3.3px;
         box-shadow: 4px 2px 2px #d94343;
      }
      
      .owner {
         border: solid #d94343 1.32px;
         box-shadow: 2.64px 1.32px 1.32px #d94343;
      }
     
     .owner:hover .card-header, .customer:hover .card-header {
         font-size: 12px;
     }
     
     .owner:hover .card-img, .customer:hover .card-img {
         width: 66.6px;
         height: 66.6px;
     }
     
     .owner:hover .card-description, .customer:hover .card-description{
         font-size: 6px;
     }

     .spirit, .ingredient, .decor, .musician, .completed, .owner, .customer, .ability {
        width: 33px;
        height: 56.1px; 
    }

    #new-cards .spirit {
        border: solid #92abc2 3.3px;
        box-shadow: 4px 2.64px 2.64px #92abc2;
    }
    
    #player-hand .spirit {
        border: solid #92abc2 1.32px;
        box-shadow: 2px 1.32px 1.32px #92abc2;
    }
    
    #new-cards .ingredient {
        border: solid #a3c0a3 3.3px;
        box-shadow: 4px 2.64px 2.64px #a3c0a3;
    }
    
    #player-hand .ingredient {
        border: solid #a3c0a3 1.32px;
        box-shadow: 2px 1.32px 1.32px #a3c0a3;
    }
    
    #new-cards .decor {
        border: solid #b77c96 3.3px;
        box-shadow: 2px 1.32px 1.32px #b77c96;
    }
    
    #player-hand .decor {
        border: solid #b77c96 1.32px;
        box-shadow: 2px 1.32px 1.32px #b77c96;
    }
    
    #new-cards .musician {
        border: solid #a06a9a 3.3px;
        box-shadow: 2px 1.32px 1.32px #a06a9a;
    }
    
    #player-hand .musician {
        border: solid #a06a9a 1.32px;
        box-shadow: 2px 1.32px 1.32px #a06a9a;
    }
    
    #new-cards .ability {
        border: solid #ee7430 3.3px;
        box-shadow: 2px 1.32px 1.32px #ee7430;
    }
    
    #player-hand .ability {
        border: solid #ee7430 1.32px;
        box-shadow: 2px 1.32px 1.32px #ee7430;
    }
    
    #new-cards .card-header {
        font-size: 16px;
    }
    
    #new-cards .card-img {
        width: 100px;
        height: 100px;
    }
    
    #new-cards .card-description {
       font-size: 11.22px;
    }
    
    #new-cards .ability .card-description {
        font-size: 8px;
    }
    
    #new-cards .decor .card-header {
        font-size: 14.52px;
    }
    
    .card-header {
        font-size: 6px;
    }
    
    .card-img {
        width: 33px;
        height: 33px;
    }
    
    .card-description {
        font-size: 3px;
    }

    #draw-discard:disabled {
        width: 100px;
        height: 169px; 
    }
    
    #difficulty-explanation {
        font-size: 6px;
        text-align: center;
        margin-top: -8px;
    }
    
    #difficulty-display {
        text-align: center;
        font-size: 1em;
        background-color: #595959;
    }

    #date-display {
        text-align: center;
        margin-top: -12px;
        font-size: 1em;
    }
    
    #draw-options {
        margin-top: 50px;
    }
    
    #owner-header, #customer-header {
        font-size: .467em;
    }

    .buttons {
        border: solid #e7b10a .66px;
        padding: 6.66px 6.66px;
        width: 90px;
        height: 26.5px;
        box-shadow: 2.64px 3.3px 3.3px #b6c7ad;
    }
    
    #end-game {
        font-size: .5em;
        padding-bottom: 22.5px;
    }
    
    #confirmation-button {
        padding-bottom: 26px;
        font-size: 10px;
    }

    #spirit-hand, #ingredient-hand, #musician-hand {
        max-width: 232px;
    }
    
    #decor-hand, #menu-card-hand {
        max-width: 232px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+7), #player-hand #ingredient-hand .ingredient:nth-child(n+7), #player-hand #musician-hand .musician:nth-child(n+7) {
        margin-top: -20px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+14), #player-hand #ingredient-hand .ingredient:nth-child(n+14), #player-hand #musician-hand .musician:nth-child(n+14) {
        margin-top: -20px;
    }
    
    #player-hand #spirit-hand .spirit:nth-child(n+21), #player-hand #ingredient-hand .ingredient:nth-child(n+21), #player-hand #musician-hand .musician:nth-child(n+21) {
        margin-top: -20px;
    }
    
    #new-cards .musician .card-header {
        font-size: 15px;
    }
    
    #new-cards .spirit .card-description {
        font-size: 9.3px;
    }
    
    #new-cards .ingredient .card-description {
        font-size: 9.3px;
    }
    
    #player-hand .decor .card-header {
        font-size: 5px;
    }
    
    #player-hand .decor .card-description {
        font-size: 5.3px;
    }

    #opening-day {
        text-align: left;
        margin-left: 33px;
        font-size: 15px;
    }

    #point-display {
        font-size: 10px;
    }
    
    #wrap-up-button  {
        margin-top: 6.6px;
    }

    #june {
        margin-left: 6.6px;
        margin-right: 6.6px;
    }
    
    #june .card-buttons:disabled {
        width: 50px;
        height: 81px;
    }

    #june .completed {
        border: solid #bea32a 2px;
        width: 50px;
        height: 81px;
        box-shadow: 2.64px 1.32px 1.32px #bea32a;
    }
    
    #player-hand .completed {
        border: solid #bea32a 1.32px;
        box-shadow: 2.64px 1.32px 1.32px #bea32a;
    }
    
    #june .completed .card-header {
      font-size: 4.3px;
    }
    
    #june .completed .card-img {
       width: 50px;
       height: 50px;
       border-bottom: double #0e390e 4px;
    }
    
    #june .completed .card-description {
        font-size: 4px;
    }
    
    #player-hand .completed .card-header {
        font-size: 3.3px;
    }
    
    #player-hand .completed .card-img {
        width: 33px;
        height: 33px;
        border-bottom: double #0e390e 2.64px;
    }
    
    #customer-decisions {
        margin-top: -36.3px;
        font-size: 26.4px;
        margin-left: 13.2px;
    }
    
    #yes-header, #no-header {
        font-size: 13.2px;
    }
    
    #point-display-header {
        margin-top: -33px;
    }
    
    #victory-heading, #defeat-heading {
        padding-left: -400px;
        margin-top: -80px;
        margin-right: 66.6px;
        padding-top: 13.2px;
        font-size: 53px;
    }
    
    #player-hand .ingredient .card-header {
        font-size: 5.3px;
    }

    .musician .card-header {
        font-size: 5px;
    }

    #customer-one-decision, #customer-two-decision, #customer-three-decision, #customer-four-decision, #customer-five-decision, #customer-six-decision, #customer-seven-decision, #customer-eight-decision, #customer-nine-decision, #customer-ten-decision, #customer-eleven-decision {
        padding-bottom: 28px;
        font-size: .3em;
        margin-bottom: 3.3px;
        margin-top: 3.3px;
    }
    
    #basic-rules-styling {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    
    #basic-rules-header {
        font-size: 2em;
    }
    
    #basic-rules-list {
        padding-bottom: 6.6px;
    }
    
    #basic-rules-sub-header {
        font-size: 1em;
    }
    
    .basic-rules-list-item {
        margin-top: 3.3px;
        margin-bottom: 3.3px;
    }
    
    #menu-styling {
        padding: 6.6px;
        padding-bottom: 13.2px;
    }
    
    #menu-header {
        font-size: 1.32em;
        margin-bottom: 26.4px;
    }

    #musical-list, #decorative-list{
        padding-right: 6.6px;
    }
    
    .menu-sub-header {
        margin-bottom: 5px;
    }
    
    #cocktail-header {
        margin-right: 463px;
    }
    
    #musical-header {
        margin-top: -380px;
    }
    
    #decorative-header {
        margin-top: 40px;
    }
    
    #musical-header, #decorative-header {
        margin-left: 363px;
    }
    
    .cocktail-list-item, .menu-list-item {
        padding-top: 10px;
        font-size: 10px;
    }
    
    #basic-rules-footer {
        padding-right: 6.6px;
        font-size: .2em;
    }
    
    #menu-footer {
        font-size: .2em;
        margin-bottom: -10px;
    }
}

@media (max-width: 700px) {
    #musician-header, #spirit-header, #ingredient-header, #decor-header, #menu-card-header {
        display: none;
    }
    
    #top-display {
        display: none;
    }

    #basic-rules {
        display: none;
    }
    
    #basic-rules-button {
        display: none;
    }
    
    #menu-button {
        display: none;
    }
    
    #full-rules {
        display: none;
    }

    #game-title {
        display: none;
    }
    
    #title-div {
        display: none;
    }
    
    #cards-in-play {
        display: none;
    }

    #left-side {
        display: none;
    }

    #new-cards {
        display: none;
    }
    
    #june {
        display: none;
    }

    #decision-day {
        display: none;
    }
    
    #customer-decisions {
        display: none;
    }
    
    #yes-header {
        display: none;
    }
}